[submodule "asyncmap-crguezl"]
	path = asyncmap-crguezl
	url = https://github.com/ULL-MII-SYTWS-2122/asyncmap-crguezl.git
[submodule "asyncmap-Pmolmar"]
	path = asyncmap-Pmolmar
	url = https://github.com/ULL-MII-SYTWS-2122/asyncmap-Pmolmar.git
